@{
    ViewData["Title"] = "Get to Know Joel";
}

@* Idk what to comment when there aren't any functions or deviations from the video, so if you see this comment, good job! You surprised me! *@

<h1>@ViewData["Title"]</h1>
<br />

<a href="https://www.qwcomedy.com/">
    <h3>Quick Wits Comedy</h3>
</a>
<br />
<br />
<a href="https://baconsale.com/">
    <h3>Baconsale</h3>
</a>
<br />
<a href="https://baconsale.com/">
    <img src="~/lib/baconsale.jpeg" height="400"/>
</a>